In [105]:
import pandas as pd

In [60]:
data=pd.read_csv(r"C:\Users\koush\OneDrive\Desktop\Moses k\Downloads\fish.csv")

In [103]:
data

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [62]:
data.Species.value_counts()

Perch        56
Bream        35
Roach        20
Pike         17
Smelt        14
Parkki       11
Whitefish     6
Name: Species, dtype: int64

In [63]:
f_v=data.drop("Weight",axis=1)
c_l=data[["Weight"]]

In [64]:
f_v

    Species  Length1  Length2  Length3   Height   Width
0     Bream     23.2     25.4     30.0  11.5200  4.0200
1     Bream     24.0     26.3     31.2  12.4800  4.3056
2     Bream     23.9     26.5     31.1  12.3778  4.6961
3     Bream     26.3     29.0     33.5  12.7300  4.4555
4     Bream     26.5     29.0     34.0  12.4440  5.1340
..      ...      ...      ...      ...      ...     ...
154   Smelt     11.5     12.2     13.4   2.0904  1.3936
155   Smelt     11.7     12.4     13.5   2.4300  1.2690
156   Smelt     12.1     13.0     13.8   2.2770  1.2558
157   Smelt     13.2     14.3     15.2   2.8728  2.0672
158   Smelt     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 6 columns]

In [65]:
c_l

     Weight
0     242.0
1     290.0
2     340.0
3     363.0
4     430.0
..      ...
154    12.2
155    13.4
156    12.2
157    19.7
158    19.9

[159 rows x 1 columns]

In [66]:
from sklearn.model_selection import train_test_split

In [80]:
x_train,x_test,y_train,y_test=train_test_split(f_v,c_l,train_size=0.8,stratify=data["Species"],random_state=100)

In [81]:
species={"Perch":1,"Bream":2,"Roach":3,"Pike":4,"Smelt":5,"Parkki":6,"Whitefish":7}

In [82]:
x_train["Species"]=x_train["Species"].map(species)

In [83]:
x_test["Species"]=x_test["Species"].map(species)

In [84]:
x_train

     Species  Length1  Length2  Length3   Height   Width
98         1     22.6     24.6     26.2   6.7334  4.1658
127        1     41.1     44.0     46.6  12.4888  7.5958
131        4     34.8     37.3     39.8   6.2884  4.0198
45         3     20.5     22.5     25.3   7.0334  3.8203
52         3     24.0     26.0     29.2   8.8768  4.4968
..       ...      ...      ...      ...      ...     ...
4          2     26.5     29.0     34.0  12.4440  5.1340
86         1     20.0     22.0     23.5   6.1100  3.4075
128        4     30.0     32.3     34.8   5.5680  3.3756
103        1     25.4     27.5     28.9   7.1672  4.3350
44         3     20.5     22.0     24.3   6.6339  3.5478

[127 rows x 6 columns]

In [85]:
y_train

     Weight
98    188.0
127  1000.0
131   300.0
45    160.0
52    290.0
..      ...
4     430.0
86    120.0
128   200.0
103   260.0
44    145.0

[127 rows x 1 columns]

In [86]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [87]:
nrm=MinMaxScaler()

In [88]:
x_train_transformed=pd.DataFrame(nrm.fit_transform(x_train),columns=x_train.columns,index=x_train.index)

In [89]:
x_train_transformed

      Species   Length1   Length2   Length3    Height     Width
98   0.000000  0.293204  0.294545  0.293919  0.290077  0.476192
127  0.000000  0.652427  0.647273  0.638514  0.624339  1.000000
131  0.500000  0.530097  0.525455  0.523649  0.264232  0.453896
45   0.333333  0.252427  0.256364  0.278716  0.307500  0.423429
52   0.333333  0.320388  0.320000  0.344595  0.414561  0.526740
..        ...       ...       ...       ...       ...       ...
4    0.166667  0.368932  0.374545  0.425676  0.621737  0.624049
86   0.000000  0.242718  0.247273  0.248311  0.253871  0.360389
128  0.500000  0.436893  0.434545  0.439189  0.222393  0.355518
103  0.000000  0.347573  0.347273  0.339527  0.315271  0.502031
44   0.333333  0.252427  0.247273  0.261824  0.284298  0.381815

[127 rows x 6 columns]

In [90]:
x_test_transformed=pd.DataFrame(nrm.transform(x_test),columns=x_test.columns,index=x_test.index)

In [91]:
x_test

     Species  Length1  Length2  Length3   Height   Width
102        1     25.2     27.3     28.7   8.3230  5.1373
138        4     43.2     46.0     48.7   7.7920  4.8700
151        5     11.3     11.8     13.1   2.2139  1.2838
41         3     19.1     20.8     23.1   6.1677  3.3957
8          2     27.6     30.0     35.1  14.0049  4.8438
134        4     40.0     42.5     45.5   7.2800  4.3225
24         2     31.9     35.0     40.5  16.2405  5.5890
65         6     18.4     20.0     22.4   8.8928  3.2928
119        1     36.9     40.0     42.3  11.9286  7.1064
60         7     37.3     40.0     43.5  12.3540  6.5250
91         1     20.5     22.5     24.0   5.8560  3.6240
106        1     25.9     28.0     29.4   7.8204  4.2042
118        1     36.6     39.0     41.3  12.4313  7.3514
54         3     29.5     31.7     35.0   9.4850  5.3550
99         1     23.0     25.0     26.5   6.4395  3.6835
7          2     27.6     30.0     35.0  12.6700  4.6900
51         3     23.6     25.2     27.9   7.0866  3.9060
71         6     24.0     26.0     29.0  11.3680  4.2340
126        1     40.2     43.5     46.0  12.6040  8.1420
23         2     31.8     35.0     40.6  15.4686  6.1306
148        5     10.4     11.0     12.0   2.1960  1.3800
117        1     36.5     39.0     41.4  11.1366  6.0030
111        1     32.5     35.0     37.3  11.4884  7.7957
113        1     34.0     36.0     38.3  10.6091  6.7408
147        5     10.1     10.6     11.6   1.7284  1.1484
16         2     30.4     33.0     38.3  14.8604  5.2854
129        4     31.7     34.0     37.8   5.7078  4.1580
3          2     26.3     29.0     33.5  12.7300  4.4555
15         2     29.4     32.0     37.2  15.4380  5.5800
140        4     48.3     51.7     55.1   8.9262  6.1712
40         3     19.0     20.5     22.8   6.4752  3.3516
121        1     37.0     40.0     42.4  12.3808  7.4624

In [79]:
x_test_transformed

      Species   Length1   Length2   Length3    Height     Width
77   0.000000  0.179381  0.186047  0.188406  0.205218  0.320535
41   0.333333  0.239175  0.240310  0.259058  0.260740  0.330979
99   0.000000  0.319588  0.321705  0.320652  0.276704  0.371547
151  0.666667  0.078351  0.065891  0.077899  0.028516  0.033294
96   0.000000  0.298969  0.302326  0.302536  0.326833  0.377114
64   0.833333  0.206186  0.205426  0.226449  0.391394  0.263659
113  0.000000  0.546392  0.534884  0.534420  0.521603  0.802492
39   0.333333  0.228866  0.224806  0.242754  0.263576  0.356140
136  0.500000  0.672165  0.670543  0.670290  0.355789  0.575383
157  0.666667  0.117526  0.114341  0.115942  0.067216  0.143719
137  0.500000  0.711340  0.709302  0.710145  0.307275  0.542456
82   0.000000  0.237113  0.244186  0.248188  0.232829  0.353434
22   0.166667  0.494845  0.505814  0.559783  0.810200  0.596597
29   0.166667  0.536082  0.554264  0.612319  1.011911  0.783068
74   0.000000  0.129897  0.127907  0.130435  0.123084  0.195140
81   0.000000  0.220619  0.224806  0.221014  0.196972  0.243065
5    0.166667  0.397938  0.412791  0.469203  0.697412  0.546882
130  0.500000  0.519588  0.515504  0.543478  0.247154  0.470343
24   0.166667  0.503093  0.515504  0.574275  0.852359  0.640139
156  0.666667  0.094845  0.089147  0.090580  0.032222  0.029347
47   0.333333  0.280412  0.273256  0.293478  0.274384  0.387968
25   0.166667  0.501031  0.515504  0.581522  0.859378  0.705571
73   0.000000  0.103093  0.102713  0.106884  0.105698  0.134134
42   0.333333  0.245361  0.244186  0.269928  0.257621  0.316686
91   0.000000  0.268041  0.273256  0.275362  0.242432  0.363160
114  0.000000  0.556701  0.554264  0.554348  0.534871  0.735369
115  0.000000  0.558763  0.554264  0.552536  0.519406  0.749746
69   0.833333  0.282474  0.282946  0.307971  0.506138  0.368742
144  0.500000  1.061856  1.065891  1.072464  0.533520  0.906687
2    0.166667  0.338144  0.350775  0.403986  0.625486  0.514279
58   1.000000  0.432990  0.437984  0.456522  0.529526  0.777289
4    0.166667  0.391753  0.399225  0.456522  0.629374  0.576004

In [92]:
from sklearn.linear_model import LinearRegression

In [93]:
lr=LinearRegression()

In [94]:
model=lr.fit(x_train_transformed,y_train)

In [95]:
predict=model.predict(x_test_transformed)

In [96]:
import joblib

In [97]:
joblib.dump(model,r"C:\Users\koush\OneDrive\Desktop\Moses k\Innomatics\Data\fish_model.joblib")

['C:\\Users\\koush\\OneDrive\\Desktop\\Moses k\\Innomatics\\Data\\fish_model.joblib']

In [98]:
joblib.load(r"C:\Users\koush\OneDrive\Desktop\Moses k\Innomatics\Data\fish_model.joblib")

LinearRegression()

In [99]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [100]:
mean_absolute_error(y_test,predict)

106.96234754376151

In [101]:
mean_squared_error(y_test,predict)

16812.14342385177

In [102]:
r2_score(y_test,predict)

0.8364290203086922